/* navbar */

.header__profile {
  background-color: var(--white);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nabvar__profile {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 4rem;
}

.arrow__profile {
  font-size: 2rem;
}

.title__navbar__profile {
  color: var(--black);
  font-size: 1.8rem;
  margin-bottom: 4px;
}

.text__navbar__profile {
  color: var(--gray);
  font-size: 1.4rem;
}

/* content--gray */

.banner__gray__profile {
  background-color: var(--div);
  height: 130px;
  width: 100%;
}

/* content */

.content__profile {
  width: 100%;
  background-color: var(--white);
}

.content__button__profile {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

.content__profile__profile {
  position: relative;
}

.profile___profile {
  background-color: var(--red-me);
  width: 90px;
  height: 90px;
  color: var(--white);
  text-align: center;
  padding: 1.5rem;
  font-size: 4.2rem;
  font-weight: 300;
  border-radius: 100%;
  border: 2px solid var(--white);
  position: absolute;
  top: -50px;
}

.button__profile {
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 1px solid var(--div);
  background-color: var(--white);
  color: var(--black);
  font-weight: 900;
  font-size: 1.5rem;
  cursor: pointer;
}

.subtitle__profile {
  font-size: 2.2rem;
  font-size: 900;
  margin-bottom: 2rem;
}

.sub__subtitle__profile {
  color: var(--gray);
  font-size: 1.5rem;
  font-weight: 100;
}

.schedule__profile {
  font-size: 1.5rem;
  color: var(--gray);
}

.copy__profile {
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--gray);
}

.content__follower__profile {
  display: flex;
  gap: 2rem;
  font-size: 1.4rem;
  color: var(--gray);
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.copy__number__follower__profile {
  color: var(--black);
  font-weight: 900;
}

/* tabs */

.tabs__profile {
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
}

.tabs__profile input[type="radio"] {
  display: none;
}

.tabs__profile label {
  width: 25%;
  padding: 2rem 0;
  color: var(--gray);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 2px solid var(--gray-input);
}

.tabs__profile label:hover {
  background-color: var(--gray-input);
}

.tabs__profile input:checked + label {
  color: var(--black);
  border-bottom: 2px solid var(--blue);
}

.tabs__profile .content__tabs__profile {
  width: 100%;
  order: 1;
  display: none;
}

.tabs__profile input[type="radio"]:checked + label + .content__tabs__profile {
  display: block;
}
