/* section--desktop */

.section__banner__desktop__profile {
  display: none;
}

.content__trending__profile {
  display: none;
}

/* container */

.container__profile {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* navbar */

.header__profile {
  background-color: var(--white);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  border-right: 2px solid var(--gray-input);
  border-left: 2px solid var(--gray-input);
}

.nabvar__profile {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 4rem;
}

.arrow__profile {
  font-size: 2rem;
}

.title__navbar__profile {
  color: var(--black);
  font-size: 1.8rem;
  margin-bottom: 4px;
}

.text__navbar__profile {
  color: var(--gray);
  font-size: 1.4rem;
}

/* content--gray */

.banner__gray__profile {
  background-color: var(--div);
  height: 140px;
  width: 100%;
}

/* content */

.content__profile {
  width: 100%;
  background-color: var(--white);
  border-right: 2px solid var(--gray-input);
  border-left: 2px solid var(--gray-input);
}

.content__button__profile {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}

.content__profile__profile {
  position: relative;
  cursor: pointer;
}

.profile___profile {
  background-color: var(--red-me);
  width: 90px;
  height: 90px;
  color: var(--white);
  text-align: center;
  padding: 1.5rem;
  font-size: 4.2rem;
  font-weight: 300;
  border-radius: 100%;
  border: 2px solid var(--white);
  position: absolute;
  top: -50px;
}

.button__profile {
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 1px solid var(--div);
  background-color: var(--white);
  color: var(--black);
  font-weight: 900;
  font-size: 1.5rem;
  cursor: pointer;
}

.subtitle__profile {
  font-size: 2.2rem;
  font-size: 900;
  margin-bottom: 2rem;
}

.sub__subtitle__profile {
  color: var(--gray);
  font-size: 1.5rem;
  font-weight: 100;
}

.schedule__profile {
  font-size: 1.5rem;
  color: var(--gray);
}

.copy__profile {
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--gray);
}

.content__follower__profile {
  display: flex;
  gap: 2rem;
  font-size: 1.4rem;
  color: var(--gray);
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.link__copy__number__profile {
  color: var(--gray);
}

.link__copy__number__profile:hover {
  text-decoration: underline;
}

.copy__number__follower__profile {
  color: var(--black);
  font-weight: 900;
}

/* tabs */

.tabs__profile {
  width: 100%;
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  border-right: 2px solid var(--gray-input);
  border-left: 2px solid var(--gray-input);
}

.tabs__profile input[type="radio"] {
  display: none;
}

.tabs__profile label {
  width: 25%;
  padding: 2rem 0;
  color: var(--gray);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 2px solid var(--gray-input);
  cursor: pointer;
}

.tabs__profile label:hover {
  background-color: var(--gray-input);
}

.tabs__profile input:checked + label {
  color: var(--black);
  border-bottom: 2px solid var(--blue);
}

.tabs__profile .content__tabs__profile {
  width: 100%;
  order: 1;
  display: none;
}

.tabs__profile input[type="radio"]:checked + label + .content__tabs__profile {
  display: block;
}

/* tweets */

.box__tabs__profile {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--white);
  padding: 2rem 0;
}

.image__profile {
  width: 100%;
  margin-bottom: 3rem;
}

.subtitle__tabs__profile {
  font-size: 3.5rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.copy__tabs__profile {
  font-size: 1.7rem;
  color: var(--gray);
}

/* section--nav--mobile */

.section__banner__mobile__profile {
  width: 100%;
  background-color: var(--white);
  position: sticky;
  bottom: 0;
  padding: 1rem 0;
}

.box__banner__mobile__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link__mobile__profile:hover {
  background-color: var(--gray-input);
  border-radius: 10px;
}

/* mediaqueries-500px */

@media (min-width: 500px) {
  .section__banner__mobile__profile {
    display: none;
  }

  /* contenedores */

  .section__banner__desktop__profile {
    display: flex;
    justify-content: right;
    width: 20%;
    padding: 1rem 0;
    height: 100vh;
  }

  .section__main__profile {
    width: 80%;
  }

  /* banner */

  .content__banner__profile {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: 0 1rem 2rem 1rem;
    position: fixed;
  }

  .box__content__profile {
    width: 100%;
  }

  .box__banner__profile {
    margin-bottom: 20px;
  }

  .box__banner__profile:hover {
    background-color: var(--gray-input);
    border-radius: 20px;
  }

  .logo__baner__profile {
    width: 35px;
  }

  .icon__banner__profile {
    font-size: 38px;
  }

  .icon__hashtag__profile {
    display: none;
  }

  .profile__banner {
    border-radius: 100%;
    height: 38px;
    width: 38px;
    background-color: var(--red-me);
    font-size: 2.5rem;
    text-align: center;
    padding: 0.5rem;
    color: var(--white);
    font-weight: 300;
  }

  .content__icon {
    display: none;
  }

  .content__icon__me {
    display: none;
  }

  .write__profile {
    background-color: var(--blue);
    color: var(--white);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    padding: 1rem;
  }

  .icon__write {
    font-size: 2rem;
    color: var(--white);
  }
}

/* mediaqueries-1000px */

@media (min-width: 1000px) {
  .section__main__profile__desktop {
    display: flex;
  }

  .content__main__profile {
    width: 65%;
  }

  .content__trending__profile {
    display: block;
    width: 35%;
    padding: 1rem 0;
  }

  /* trending */

  .form {
    position: relative;
    margin-bottom: 2rem;
  }

  .icon__search__profile {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 20px;
    color: var(--gray);
  }

  .input {
    width: 100%;
    background-color: var(--gray-input);
    padding: 1.5rem 0 1.5rem 5rem;
    border-radius: 40px;
  }

  .content__trending {
    width: 100%;
    border-radius: 10px;
    background-color: var(--gray-input);
    padding: 1rem 2rem;
  }

  .space {
    margin-bottom: 1rem;
  }

  .subtitle__trending {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .box__trendig__follower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  .box__trendig__follower:hover {
    background-color: gainsboro;
  }

  .box__margin {
    margin-bottom: 1rem;
  }

  .trendig__follower__information {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .image__trending {
    width: 40px;
  }

  .trendig__follower__information--copy {
    font-size: 1.5rem;
    font-weight: 900;
  }

  .button__trending {
    background-color: var(--black);
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 1rem;
  }

  .link__trending__show {
    font-size: 1.6rem;
    color: var(--blue);
  }
}

/* mediaquerie--1200px */

@media (min-width: 1200px) {
  .box__copy__banner__profile {
    display: block;
  }

  .box__banner__profile {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .copy__banner__profile {
    font-size: 1.8rem;
    color: var(--black);
  }

  .icon__hashtag__profile {
    display: block;
  }

  .icon__glass__profile {
    display: none;
  }

  .button__banner__profile {
    background-color: var(--blue);
    padding: 1.5rem;
    width: 100%;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 900;
    border-radius: 40px;
    cursor: pointer;
  }

  .box__profile__me {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .box__profile__me:hover {
    background-color: var(--gray-input);
    border-radius: 20px;
  }

  .profile__me {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .copy__profile__banner {
    font-size: 1.4rem;
    font-weight: 900;
  }

  .content__icon__me {
    display: block;
  }

  .box__icon__write {
    display: none;
  }
}
