*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --blue: #1a8cd8;
  --black: #0f1419;
  --white: #ffffff;
  --gray-input: #eff1f1;
  --red-me: #bf360c;
  --gray: #808080;
  /* extras */
  --font-size: 62.5%;
  --font-family: "Poppins", sans-serif;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: "Poppins", sans-serif;
}

/* reseteos */

img {
  display: block;
  max-width: 100%;
}

button {
  border: 0;
  outline: 0;
}

input {
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

/* desktop */

.section__main__desktop__form {
  display: none;
}

.home__navbar {
  display: none;
}

.banner__img__desktop {
  display: none;
}

.content__ask {
  display: none;
}

.links__banner__desktop {
  display: none;
}

.button__banner {
  display: none;
}

.box__copy__banner__profile {
  display: none;
}

.img__hashtag {
  display: none;
}

.bookmark__list {
  display: none;
}

.content__links__desktop {
  display: none;
}

/* helper */

.helper {
  padding: 0 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* header */

.header {
  background-color: var(--white);
  padding: 2rem 0;
  border-right: 2px solid var(--gray-input);
  border-left: 2px solid var(--gray-input);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.profile {
  background-color: var(--red-me);
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 100%;
  color: var(--white);
  font-size: 2.2rem;
}

.logo__twitter {
  width: 30px;
}

/* main */

.container {
  width: 100%;
  background-color: var(--white);
}

/* tabs */

.tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  border-right: 2px solid var(--gray-input);
  border-left: 2px solid var(--gray-input);
}

.tabs__content {
  width: 100%;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs label {
  padding: 2rem 0;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  color: var(--gray);
  cursor: pointer;
  width: 50%;
  border-bottom: 2px solid var(--gray-input);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--white);
}

.tabs label:hover {
  background-color: var(--gray-input);
}

.tabs input:checked + label {
  color: var(--black);
  border-bottom: 2px solid var(--blue);
}

.tabs .tabs__content {
  order: 1;
  display: none;
  width: 100%;
}

.tabs input[type="radio"]:checked + label + .tabs__content {
  display: block;
}

/* tweets--and--retwwet */

.tweet__and__retweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--white);
  padding: 2rem 0;
  border-bottom: 2px solid var(--gray-input);
}

.tweet__and__retweet:hover {
  background-color: var(--gray-input);
  cursor: pointer;
}

.tweet__content__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 0 0 4rem;
}

.icon__comment {
  width: 20px;
}

.tweet--copy--header {
  color: var(--gray);
  font-weight: bolder;
  font-size: 12px;
}

.tweet__content__information {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  object-fit: contain;
}

.tweet__content__box {
  width: 100%;
}

.tweet--content--name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

.tweet--name {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
}

.points {
  width: 20px;
}

.tweet__copy {
  font-family: var(--font-family);
  font-weight: 500;
  color: var(--black);
  font-size: 12px;
  margin-bottom: 1rem;
}

.tweet__icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet__icons__box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.tweet__icon__coment:hover {
  background-color: var(--blue);
}

.icon {
  width: 17px;
}

/* tweet */

.tweet__clasic {
  width: 100%;
  background-color: var(--white);
  padding: 2rem 0;
  border-bottom: 2px solid var(--gray-input);
}

.tweet__clasic:hover {
  background-color: var(--gray-input);
  cursor: pointer;
}

.content__tweet__section {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.links {
  color: var(--blue);
}

.tweet__button__box {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

.tweet__button {
  width: 80%;
  background-color: var(--black);
  color: var(--white);
  font: 1.4rem;
  padding: 1rem 0;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 900;
}

/* tweet */

.tweet__image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
}

/* tweet--setion--follower */

.section__follower {
  margin-bottom: 2rem;
}

.content__follower {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.content__follower__information {
  margin-bottom: 1rem;
}

.subtitle__follower {
  font-size: 2.2rem;
}

.tweet__button__follower {
  background-color: var(--black);
  color: var(--white);
  font: 1.4rem;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 900;
  padding: 1rem 2rem;
}

/* banner */

.banner {
  background-color: var(--white);
  position: sticky;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem 0;
}

.banner__img {
  width: 30px;
}

.banner__img__hover:hover {
  background-color: var(--gray-input);
  border-radius: 10px;
  cursor: pointer;
}

.banner__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  font-size: 30px;
  color: var(--black);
}

/* mediaqueries */

@media (min-width: 500px) {
  /* content */

  .content__main__footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .container {
    width: 80%;
    height: 100vh;
    background-color: var(--white);
  }

  .banner {
    background-color: var(--white);
    width: 20%;
    height: 100vh;
  }

  /* banner */

  .banner__desktop {
    display: flex;
    justify-content: right;
  }

  .section__baner__desktop {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    padding: 1rem 0 2rem 0;
  }

  .banner__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px;
  }

  .banner__img__desktop {
    display: block;
  }

  .bookmark__list {
    display: none;
  }

  .banner__img__background {
    background-color: var(--blue);
    height: 40px;
    width: 40px;
    border-radius: 100%;
  }

  /* navbar */

  .navbar__mobile {
    display: none;
  }

  .home__navbar {
    display: block;
    color: var(--black);
    font-weight: 700;
    font-size: 2rem;
  }

  /* content--ask */

  .content__ask {
    display: block;
    width: 100%;
    background-color: var(--white);
    border-bottom: 2px solid var(--gray-input);
    padding: 1rem 0;
  }

  .section__box__ask {
    display: flex;
    width: 100%;
    gap: 3rem;
  }

  .ask__profile {
    height: 45px;
    width: 45px;
    font-size: 3rem;
  }

  .section__box__ask__information {
    width: 100%;
    margin-top: 1rem;
  }

  .ask--copy {
    width: 100%;
    font-size: 1.6rem;
  }

  .ask__content__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
  }

  .ask__content__box__links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .ask__img {
    color: var(--blue);
    font-size: 20px;
  }

  .ask__img:hover {
    background-color: var(--gray-input);
    border-radius: 10px;
  }

  .ask__button {
    padding: 1rem 2rem;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 50px;
    opacity: 20rem;
    cursor: pointer;
  }
}

@media (min-width: 1000px) {
  .section__main__desktop {
    width: 100%;
    display: flex;
  }

  .section__main__desktop__tabs {
    width: 65%;
  }

  .section__main__desktop__form {
    display: block;
    width: 35%;
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--white);
    padding: 1rem 0;
  }

  .form__search {
    width: 100%;
    padding: 1.5rem 5rem 1.5rem 5rem;
    background-color: var(--gray-input);
    border-radius: 40px;
    margin-bottom: 2rem;
  }

  .form {
    position: relative;
  }

  .icon__search {
    position: absolute;
    left: 10px;
    top: 12px;
    z-index: 1;
    font-size: 20px;
    color: var(--gray);
  }

  ::placeholder {
    width: 100%;
    color: var(--gray);
    font-size: 1.8rem;
  }

  .content__main__desktop__form {
    background-color: var(--gray-input);
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
  }

  .title__desktop__form {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .box__desktop__form {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  .box__desktop__form:hover {
    background-color: antiquewhite;
    cursor: pointer;
  }

  .copy__desktop__form {
    color: var(--gray);
    font-size: 1.2rem;
  }

  .copy__desktop__form__back {
    color: var(--black);
    font-size: 1.4rem;
  }

  .link__form {
    font-size: 1.5rem;
    color: var(--blue);
  }

  .link__form__show:hover {
    background-color: antiquewhite;
  }
}

@media (min-width: 1200px) {
  .links__desktop__banner__name {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .links__banner__desktop {
    display: block;
    color: var(--black);
    font-size: 1.6rem;
    font-weight: 400;
  }

  .banner__img__desktop__background {
    display: none;
  }

  .button__banner {
    display: block;
    font-size: 1.8rem;
    padding: 1.5rem 6.5rem;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 40px;
    cursor: pointer;
  }

  .profile__display__box {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .box__copy__banner__profile {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .copy__banner__desktop__profile__black {
    color: var(--black);
    font-weight: 700;
    font-size: 1.4rem;
  }

  .copy__banner__desktop__profile {
    font-size: 1.2rem;
    color: var(--gray);
  }

  .img__hashtag {
    display: block;
  }

  .img__lupa {
    display: none;
  }

  .content__links__desktop {
    display: block;
    margin-top: 2rem;
    border-top: 2px solid var(--gray-input);
    padding: 2rem 1rem;
  }

  .links__desktop:hover {
    text-decoration: underline;
  }

  .links__desktop {
    color: var(--gray);
    font-size: 1.3rem;
  }
}
