*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --blue: #1a8cd8;
  --black: #0f1419;
  --white: #ffffff;
  --gray-input: #eff1f1;
  --red-me: #bf360c;
  --gray: #808080;
  /* extras */
  --font-size: 62.5%;
  --font-family: "Poppins", sans-serif;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: "Poppins", sans-serif;
}

/* reseteos */

img {
  display: block;
  max-width: 100%;
}

button {
  border: 0;
  outline: 0;
}

input {
  border: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

/* helper */

.helper {
  padding: 0 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* header */

.header {
  background-color: var(--white);
  padding: 2rem 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.profile {
  background-color: var(--red-me);
  height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 100%;
  color: var(--white);
  font-size: 2.2rem;
}

.logo__twitter {
  width: 30px;
}

/* main */

.container {
  width: 100%;
  background-color: var(--white);
}

/* tabs */

.tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs label {
  padding: 2rem 0;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  color: var(--gray);
  cursor: pointer;
  width: 50%;
  border-bottom: 2px solid var(--gray-input);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--white);
}

.tabs label:hover {
  background-color: var(--gray-input);
}

.tabs input:checked + label {
  color: var(--black);
  border-bottom: 2px solid var(--blue);
}

.tabs .tabs__content {
  order: 1;
  display: none;
  width: 100%;
}

.tabs input[type="radio"]:checked + label + .tabs__content {
  display: block;
}

/* tweets */

.tweet--1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--white);
  padding: 2rem 0;
  border-bottom: 2px solid var(--gray-input);
}

.tweet__content__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 0 0 4rem;
}

.icon__comment {
  width: 20px;
}

.tweet--copy--header {
  color: var(--gray);
  font-weight: bolder;
  font-size: 12px;
}

.tweet__content__information {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  object-fit: cover;
}

.tweet__content__box {
  width: 100%;
}

.tweet--content--name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}

.tweet--name {
  font-family: var(--font-family);
  font-size: 14px;
}

.menu {
  width: 20px;
}

.tweet__copy {
  font-family: var(--font-family);
  font-weight: 500;
  color: var(--black);
  font-size: 12px;
  margin-bottom: 1rem;
}

.tweet__icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet__icons__box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.icon {
  width: 17px;
}

/* tweet--2 */

.tweet--2 {
  width: 100%;
  background-color: var(--white);
  padding: 2rem 0;
  border-bottom: 2px solid var(--gray-input);
}

.content__tweet--2 {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.links {
  color: var(--blue);
}

.tweet__button__box {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.tweet__button {
  background-color: var(--black);
  color: var(--white);
  font: 1.4rem;
  padding: 1rem 9rem;
  border-radius: 40px;
  cursor: pointer;
}
